body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhCKGzWgcQ0c1NtE0MnkgaLpyf8TCs6xgyOQ&usqp=CAU');
}

.auth-card {
  padding: 50px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
  margin-top: 60px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  /*border-radius:100px;*/
  height: 150px;
  width: 150px;
}

.home {
  max-width: 600px;
  margin: 26px auto;
  height: max-content;
}

.collection-item {
  width: 100%;
  color: black;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}
